*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 19px;
  line-height: 1.5;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
}

@each $level in h1, h2, h3, h4, h5, h6 {
  #{$level} {
    font-size: var(--#{$level}-font-size);
  }
}
