@import "vendor/normalize.scss";

/*! Main Styles | Author: Luiz Felipe F. <https://lffg.github.io> | Mit License */

$primary: #388de0;
$secondary: #1d2227;
$light: #fff;

@import "layout/tags.scss";
@import "layout/design-and-layout.scss";
@import "components/form-group.scss";
@import "components/alert.scss";
